* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 2.5rem;
}

.studentlist {
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.student {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}